<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>About</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <p>This is a small app for studing basics of Ionic 3 framework.</p>
  <p>Using lazy loading of pages. Working with angular form builder. Storing data in local storage (ionic storage).</p>
  <p>Pick a word from words and choose a correct (in form of translation or image) answer - 5 correct answers will throw the word to the known words list, where you can look in detail deffinition of the selected word.</p>
  <p>You can add a new word, but without a picture. In that case app will use default picture and in testing screen you will see translation insteed of image.</p>

</ion-content>
