<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Words" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add word" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Known words" tabIcon="checkmark-circle"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
