<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Add new word</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="newWordForm">

    <ion-item>
      <ion-label floating>Word</ion-label>
      <ion-input [formControl]="newWordForm.controls['word']" type="text"></ion-input>
    </ion-item>

    <div *ngIf="!newWordForm.controls.word.valid" class="validator-error">
      Please enter a new word.
    </div>

    <ion-item>
      <ion-label floating>Translation</ion-label>
      <ion-input [formControl]="newWordForm.controls['translation']" type="text"></ion-input>
    </ion-item>

    <div *ngIf="!newWordForm.controls.translation.valid" class="validator-error">
      Please translate the word.
    </div>

    <ion-item>
      <ion-label floating>Deffinition</ion-label>
      <ion-textarea [formControl]="newWordForm.controls['deff']"></ion-textarea>
    </ion-item>

    <div *ngIf="!newWordForm.controls.deff.valid" class="validator-error">
      You need to write deffinition to proceed.
    </div>

    <ion-row class="sign-in-button-container">
      <ion-col text-center>
        <button ion-button block color="primary" [disabled]="!newWordForm.valid" (click)="onSave()">
          Submit
        </button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>