page-addword {
    .validator-error {
        color: color($colors, danger);
        padding-top: 8px;
        padding-left: 16px;
    }

    .submit-button-container {
        padding-top: 40px;
    }
}
