<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Known words list</ion-title>
    <ion-toolbar>
      <ion-searchbar (input)="getWords($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item *ngFor="let word of words" (click)="onWordClick(word)">
      <ion-avatar item-left>
        <img *ngIf="word.correctimgpath.length != 0; else noimage;" src="{{ word.correctimgpath }}" />
        <ng-template #noimage><img src="assets/imgs/logo.png"></ng-template>
      </ion-avatar>
      <h2>{{ word.word }}</h2>
      <p>{{ word.translation }}</p>
    </ion-item>

  </ion-list>

</ion-content>