<ion-header>

  <ion-navbar color="primary">
    <ion-title>Testing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <br>
  <h1 text-center>{{ word.word }}</h1>
  <br>

  <ion-list radio-group [(ngModel)]="rgValue">

    <ion-item *ngFor="let item of words">
      <ion-label>
        <img *ngIf="item.correctimgpath.length !== 0; else noimage"  src="{{ item.correctimgpath }}" alt="">
        <ng-template #noimage><h2>{{ item.translation }}</h2></ng-template>
      </ion-label>
      <ion-radio [value]="item.id" (ionSelect) = "onRadioSelected()"></ion-radio>
    </ion-item>

  </ion-list>

</ion-content>