<ion-header>

  <ion-navbar color="primary">
    <ion-title>detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-item>
      <h2>{{ word.word }}</h2>
      <p>{{ word.translation }}</p>
    </ion-item>

    <img *ngIf="word.correctimgpath.length != 0; else noimage;" src="{{ word.correctimgpath }}" />
    <ng-template #noimage><img src="assets/imgs/logo.png"></ng-template>

    <ion-card-content>
      <p>{{ word.deff }}</p>
    </ion-card-content>

  </ion-card>

  

</ion-content>