<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Words list</ion-title>
    <ion-toolbar>
      <ion-searchbar (input)="getWords($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item *ngFor="let word of words" (click)="onWordClick(word)">
      <h2>{{ word.word }}</h2>
      <p>{{ word.answerscount }}</p>
    </ion-item>

  </ion-list>

</ion-content>